<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios10" />
  <package id="Plugin.BLE" version="2.1.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="6.0.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.2" targetFramework="xamarinios10" />
</packages>